.i {
    background-color: red;
}

.o {
    background-color: blue;
}

.t {
    background-color: green;
}

.j {
    background-color: yellow;
}

.l {
    background-color: pink;
}

.s {
    background-color: lightblue;
}

.z {
    background-color: orange;
}

.g {
    background-color: grey;
    font-size: 0px;
    height: .25rem;
}

.b {
    background-color: black;
    color: black;
    
}

.game-over {
    color: white;
    font-size: 15px;
}

.row-width {
    height: 20px;
    background-color: black;
}

.black-border {
    border: 1px solid black;
}

.zero-size {
    width: 0;
    height: 0;
    display: none;
}

.bg-black {
    background-color: black;
}

.lines-counter {
    height: 50px;
    width: 100px;
}

.text-black {
    display: none;
}

.no-outline:focus {
    outline: none;
    
}








